#cards_landscape_wrap-2 {
	text-align: center;
	background: #f7f7f7;
}

#cards_landscape_wrap-2 .TitleWrapper {
	text-align: center;
}

#cards_landscape_wrap-2 .TitleWrapper .Heading {
	font-size: 3rem;
	font-weight: 500;
	color: #636e72;
}

#cards_landscape_wrap-2 .container {
	padding-top: 80px;
	padding-bottom: 100px;
}

#cards_landscape_wrap-2 a {
	text-decoration: none;
	outline: none;
}

#cards_landscape_wrap-2 .card-flyer {
	border-radius: 5px;
	transition: "all 500ms ease-in-out";
}
#cards_landscape_wrap-2 .card-flyer .image-box {
	background: #ffffff;
	overflow: hidden;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box img {
	width: 100%;
	height: 300px;
}

#cards_landscape_wrap-2 .card-flyer .text-box {
	text-align: center;
}

#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
	padding: 30px 18px;
}

#cards_landscape_wrap-2 .card-flyer {
	background: #ffffff;
	margin-top: 50px;

	transition: all 0.2s ease-in;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}

#cards_landscape_wrap-2 .card-flyer:hover {
	background: #fff;
	box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);

	margin-top: 50px;
}

#cards_landscape_wrap-2 .card-flyer .text-box p {
	margin-top: 10px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-size: 14px;
	letter-spacing: 1px;
	color: #000000;
}

#cards_landscape_wrap-2 .card-flyer .text-box h6 {
	margin-top: 0px;
	margin-bottom: 4px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "Roboto Black", sans-serif;
	letter-spacing: 1px;
	color: #00acc1;
}

#cards_landscape_wrap-2 .btn-primary {
	background-color: #4db6ac;
	outline: none;
	border: none;
	transition: all 0.3s ease-in-out;
}

#cards_landscape_wrap-2 .btn-primary:hover {
	background-color: #00695c;
	outline: none;
	border: none;
}

#cards_landscape_wrap-2 .btn-warning:hover {
	background-color: black;
	color: whitesmoke;
	outline: none;
}

#cards_landscape_wrap-2 .btn-danger {
	background-color: #c0392b;
	outline: none;
	border: none;
	transition: all 0.3s ease-in-out;
	margin-left: 2rem;
}

#cards_landscape_wrap-2 .btn-danger:hover {
	background-color: #e74c3c;
	outline: none;
	border: none;
}

#cards_landscape_wrap-2 .price-book-divide h2 {
	font-size: 20px;
	font-weight: 400;
	color: #4db6ac;
}

#cards_landscape_wrap-2 .action-buttons {
	padding-bottom: 40px;
}

#cards_landscape_wrap-2 .text-container h6 {
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}
